.table {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}
.th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    background-color: black;
    color: white;
}
.tbody:nth-child(2n) {
    background-color: rgb(214, 212, 212);
    }
.tbody:nth-child(2n+1) {
background-color: rgb(152, 152, 152);
}